body {
    font-family: monospace;
    font-size: 20px;    
    letter-spacing: -1px;
    margin: 0px;

    background-color: #ffdead;
}
#loading {
    color: white;
    background-color: black;
    z-index: 9999;
    width: 10000px;
    height: 10000px;
    padding: 100px;
}
div {
    position: absolute;

    margin: 0%;
    padding: 0%;
    padding-right: 1px;
    width: fit-content;
    height: fit-content;
}
ul {
    list-style: none;
}
li {
    margin: 0;
    margin-left: 10px;
}

#player {
    background-color: #ADFFC8;
    color: #674F80;
    
    top: 0;
    left: 0;

    z-index: 0;
}
#txt {
    background-color: black;
    color: white;
    font-size: 15px;

    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 100px;

    z-index: 90;
    border-color: white;
    border-width: 3px;
    border-style: dashed;
    Text-align: justify;
}

.object {
    background-color: #4F805F;
    color: #ffdead;
    
    white-space: nowrap;
    overflow: hidden;
}
.npc {
    background-color: #674F80;
    color: #ffdead;
    z-index: -10;
}
.evil {
    background-color: brown;
    /*color: blue;*/
}
.path {
    background-color: transparent;
    color: #4F805F;
    z-index: -90;
}